body{

    background-color: lightgray;
}

.login{

    &-alert-container{
        width: 60%;
        margin: auto;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
    }

    &-main-container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    } 
 
    &-square-content{
        box-shadow: 0 1px 6px 0 rgba(39, 36, 55, 0.16);
        background-color:white;
        padding: 40px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    &-textbox-contain{
        display: inline-block;
        position: relative;
        width: 100%;

        i{
            color: lightgray;
            position: absolute;
            right: 30%;
            top: 25%;
            opacity: 0.7;
        }
    }

    &-form{

        text-align: center;

        &-title{
            width: 100%;
            margin-bottom: 30px;
            color: gray;
            font-weight: bold;
            display: inline-block;
        }

        &-textbox{

            margin-bottom: 10px;
            width: 45%;
            padding: 5px;
            border: 1px;
            box-shadow: 0 1px 6px 0 rgba(39, 36, 55, 0.16);

            &::after{
                content:"fas fa-user";
                font-family: "Font Awesome";
            }
        }
    }

    &-button-enter{
        display: block;
        margin: auto;
        width: 30%;
        background-color: #2993DD;
        font-weight: 500;
        color: white;
        border: 1px solid #276995;
        border-radius: 4px;
        height: 40px;
        margin-bottom: 30px;
        margin-top: 10px;

        &:hover{
            background-color: transparent;
            color:#2993DD;
        }
    }

    &-link{
       text-align: center;
       display: block;

       &.register{
            margin-bottom: 10px;
       }

    }

    &-bottom{


        &-information
        {
            position: absolute;
            bottom: 15%;
            left: 0;
            right: 0;
            width: 40rem;
            margin: auto; 
        }

        &-square{
            width: 33px;
            display: inline-flex;
            background-color: gray;
            align-items: center;
            justify-content: center;
            color: white;
            height: 33px;
        }

        &-text{
            display: inline-flex;
            width: 90%;
            background-color: white;
            height: 33px;
            color: gray;
            font-style: italic;
            justify-content: center;
            align-items: center;
        }
    }
    

}